.uk-tab {
	@media (max-width: 640px) {
		justify-content: center;		
	}
}

.uk-tab>*>a {
	text-transform: initial;
	font-size: 1rem;
	padding: 5px 0;

	&:hover,
	&:active,
	&:focus {
		color: $color-black;
	}
}

.uk-tab>*:not(:first-of-type) {
	padding-left: 30px;
}

.uk-tab::before {
	border-bottom: none;
}

.uk-list>li:nth-child(n+2) {
	//margin-top: 0 !important;
}

.uk-table th {
	vertical-align: middle;
}

.uk-table-hover tbody tr:hover {
	background: $color-white;
}

.uk-tab>.uk-active>a {
	border-bottom: 3px solid $color-black;
	color: $color-black;
	font-weight: bold;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}