html,
body,
* {
	font-family: $sans-serif !important;
	letter-spacing: 0.01rem;
}

strong,
b,
.uk-text-bold {
	font-family: $sans-serif-med !important;
	color: #333;
	font-weight: inherit;
}

em {
	color: inherit !important;
}